.contenedor-publicaciones{
    background-color: azure;
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.9);
}

.imagen-publicacion {
    width: auto;
    height: 100%;
}

.contenedor-texto-publicacion {
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.nombre-publicacion {
    font-size: 1.3rem;
  }
  
.nombre-publicador {
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}
  
.texto-publicacion {
    font-size: 1.1rem;
    text-align: justify;
}